@import "../common/darkmode.css";

body {
  /* Min. height needed so that the entire inline options panel is the same color in dark mode */
  min-height: 250px;
}

form {
  display: table;
  margin-top: 2%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  width: fit-content;
}